<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-col">
        <div class="navbar-wrapper">
            <div class="navbar-logo-wrapper">
                <a (click)="homePage()"><img src="assets/LogoWhite.png" class="navbar-logo"></a>
            </div>
            <div class="navbar-heading">
                <h1>Pack Master</h1>
            </div>
            <div class="navbar-profile-wrapper">
                <div class="navbar-profile-photo"><img src="assets/profile-logo.png" id="profile-icon"></div>
                <div class="navbar-username">Admin</div>
            </div>
        </div>
        <section class="dashboard-content-wrapper">
            <section class="final-list-first-half">
                <div class="final-list-header-wrapper">
                    <h1>Final Items List</h1>
                </div>
                <div class="grid">
                    <ng-container *ngFor="let item of items">
                        <div [ngClass]="item.confidence == 1 ? 'card-suggested':'card'" *ngIf="item.code != 'NA'">
                            <h3 class="h3-final-page">{{item.name|titlecase}}</h3>
                        </div>
                    </ng-container>
                </div>


            </section>

        </section>
    </div>
</body>

</html>