<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="login-form-wrapper">
            <div id="logo-wrapper">
                <img src="assets/Logo.png" class="logo">
            </div>
            <form (ngSubmit)="login()">
                <div id="login-heading-wrapper">
                    <h1>Pack Master</h1>
                    <p>Welcome to Pack Master:<br/>Your Smart Travel Companion</p>
                </div>
                <input type="email" class="input-field" id="email" [(ngModel)]="email" name="email" placeholder="Email" required>
                <input type="password" class="input-field" id="password" [(ngModel)]="password" name="password" placeholder="password" required>
                <div id="cred-opt-wrapper">
                    <div id="remember-me-wrapper">
                        <input type="checkbox" id="custom-checkbox" class="checkbox-input">
                        <label for="custom-checkbox" class="checkbox-label">Remember me</label>
                    </div>
                    <div id="forgot-password">Forgot password?</div>
                </div>
                <button id="login-submit-button" type="submit">Login</button>
                <div id="divider-wrapper">
                    <div class="half-divider"></div>
                    <p class="divider-text">or continue with</p>
                    <div class="half-divider"></div>
                </div>
                <div id="google-sign-in">
                    <div id="google-logo-wrapper">
                        <img src="assets/Google Icon.png">
                    </div>
                    Sign in with Google
                </div>

                <div id="sign-up-text-wrapper">
                    <p>
                        Don't have an account?
                    </p>
                    <div>Sign up</div>

                </div>

            </form>
            <p id="copyright-text-login">Copyright © | All rights reserved</p>
        </div>
        <div class="image-wrapper">
        </div>
    </div>
</body>

</html>