<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap" rel="stylesheet">


</head>

<body>
    <div class="container-col">
        <div class="navbar-wrapper">
            <div class="navbar-logo-wrapper">
                <a (click)="homePage()"><img src="assets/LogoWhite.png" class="navbar-logo"></a>
            </div>
            <div class="navbar-heading">
                <h1>Pack Master</h1>
            </div>
            <div class="navbar-profile-wrapper">
                <div class="navbar-profile-photo"><img src="assets/profile-logo.png" id="profile-icon"></div>
                <div class="navbar-username">Admin</div>
            </div>
        </div>
        <section class="dashboard-content-wrapper">
            <section class="first-half">
                <!-- <table class="rwd-table">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Allowed/Not Allowed</th>
                            <th>Bag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                        <tr>
                            <td> <input type="text" class="editable-input"></td>
                            <td>
                                <div class="allowed badge">Allowed</div>
                            </td>
                            <td>Handbag</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <button id="save-button" type="submit" (click)="saveItems()">Save</button>
                    </tfoot>
                </table> -->
                <table class="rwd-table">
                    <thead>
                        <tr class="t-heading-wrapper">
                            <th>Identified Items</th>
                            <th>Allowed/Not Allowed</th>
                            <th>Bag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of items">

                            <tr *ngIf="item.type=='IDN'">
                                <td>
                                    <div class="tooltip-container">
                                        <input type="text" [disabled]="item.confidence > 0.75" [ngClass]="item.confidence > 0.75 ? 'input-text' : 'input-text editable-input'" [(ngModel)]="item.name">
                                        <div class="tooltip" *ngIf="item.name == 'packaged goods'">Liquid or gel food items larger than 3.4 oz are not allowed in carry-on bags and should be placed in your checked-in bags.
                                        </div>
                                    </div>
                                </td>
                                <td>

                                    <div [ngClass]=getClass(item.code)>{{ item.code == 'CB' || item.code == 'CHK' || item.code == 'ALL' ? 'Allowed' : (item.code == 'NA' ? 'Not Allowed' : '')}}</div>
                                </td>
                                <td class="bag">{{ item.code == 'CB' ? 'Handbag' : (item.code == 'CHK' ? 'Luggage' : (item.code == 'ALL' ? 'Handbag/Luggage' : ''))}}</td>
                            </tr>   
                        </ng-container>
                        <tr class="t-heading-wrapper">
                            <td class="t-heading">Suggested Items</td>
                            <td class="t-heading">Include</td>
                            <td></td>
                        </tr>
                        <ng-container *ngFor="let item of items">
                            <tr *ngIf="item.type == 'RCM'">
                                <td>
                                    <div>{{item.name}}</div>
                                </td>
                                <td>
                                    <input type="checkbox" (change)="modifyCheckBoxvalue($event, item.name)">
                                </td>
                                <td></td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tfoot>
                        <button id="save-button" type="submit" (click)="saveItems()">Save</button>
                    </tfoot>
                </table>
                <!-- <div class="item-list-wrapper ">
                    <div class="list-item ">
                        <div>Items</div>
                        <div>Allowed/Not Allowed</div>
                        <div>Bag</div>
                    </div>
                    <ng-container *ngFor="let item of items ">
                        <div class="list-item " *ngIf="item.type=='IDN' ">
                            <input type="text " [disabled]="item.confidence> 0.7" [ngClass]="item.confidence > 0.7 ? 'item-text' : 'item-text editable-input'" [(ngModel)]="item.name">
                                <div [ngClass]=getClass(item.code)>{{ item.code == 'CB' || item.code == 'CHK' || item.code == 'ALL' ? 'Allowed' : (item.code == 'NA' ? 'Not Allowed' : '')}}</div>
                                <div class="bag">{{ item.code == 'CB' ? 'Handbag' : (item.code == 'CHK' ? 'Luggage' : (item.code == 'ALL' ? 'Handbag/Luggage' : ''))}}</div>
    </div>
    </ng-container>
    </div> -->

            </section>

            <!-- <section class="second-half-result">
                <div class="results-header-wrapper">
                    <h2>SUGGESTED ITEMS</h2>
                </div>
                <div class="list-wrapper">
                    <ng-container *ngFor="let item of items">
                        <div class="list-item" *ngIf="item.type == 'RCM'">
                            <input type="checkbox">
                            <div>{{item.name}}</div>
                        </div>
                    </ng-container>

                </div>
            </section> -->

        </section>
    </div>
</body>

</html>